{% load static %}
{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="d-flex justify-content-center mt-5">
        <img src="{% static 'images/pic2.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid rounded-circle ms-3 border border-black border-5" alt="ID">
    </div>
    <br>
    <h4 class="mx-5 text-justify"><center>Hi, I'm German R. Cinco!</center><br>
        <span style="display: inline-block; text-indent: 5em;">I'm</span> a 23 years old Bachelor of Science in Information Technology student at Palawan State University. I'm from batch 2018, but because of COVID-19 I stopped during pandemic. And now, I comtinuing my degree.
        I'm still learning about the field of IT, I know how to write or program using HTML, CSS, Bootstrap, PHP, and Python,  I'm not great or expert on these but I'm still learning and improvement.
        My hobbies are watching movies, playing basketball, and hang around with friends. My goal is to finish my degree, not only to fulfill the dreams of my sister and parents but also to build a successful career and eventually start my own business.
    </h4>
</body>
</html>